﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="assignment2a._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="idea_content" runat="server">

</asp:Content>
