﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="assignment2a.Home" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Idea_content" runat="server">
    <div class="jumbotron">
    <p>Assignment-2</p>
    </div>
</asp:Content>


