﻿body {
    background-image: url('image/pMAiU.jpg');
}
a {
    color: greenyellow;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
}
.jumbotron a {
    color: midnightblue;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
}

.jumbotron p {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
    color: lightcoral;
}

li {
    color: lightcoral;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 23px;
}

p {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 11px;
    color: lightcoral;
}

footer {
    color: salmon;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 13px;
    padding: 25px;
    margin-left: 55px;
}

