﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="WebForm2.aspx.cs" Inherits="assignment2a.WebForm2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
     <link rel="stylesheet" href="/css/style.css" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="sunmi" runat="server">

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="jang" runat="server">

</asp:Content>

